<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPolicyStatusService" />
                <binding name="SecuredByTransportEndpoint">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.175.32.224:21236/PolicyStatusService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPolicyStatusService"
                contract="PolicyStatusService.IPolicyStatusService" name="BasicHttpBinding_IPolicyStatusService" />
            <endpoint address="https://ws.uralsibins.ru/PolicyStatus/PolicyStatusService.svc"
                binding="basicHttpBinding" bindingConfiguration="SecuredByTransportEndpoint"
                contract="DMZPolicyStatusService.IPolicyStatusService" name="SecuredByTransportEndpoint" />
        </client>
    </system.serviceModel>
</configuration>