<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceContractName" value="ExampleService" />
    <add key="ServiceDisplayName" value="Dsrd.ExampleService" />
    <add key="ServiceAssembly" value="OMInsurance.Services.PolicyStatusService.dll" />
    <add key="ServiceType" value="OMInsurance.Services.PolicyStatusService.Service" />
    <add key="InterfaceAssembly" value="OMInsurance.Services.Interfaces" />
    <add key="InterfaceType" value="OMInsurance.Services.Interface.IPolicyStatusService" />
  </appSettings>
</configuration>